<h1> Here is your files </h1>

<div bs-active-pane="tabs.activeTab" bs-tabs>
    <!--<div ng-model="tabs.activeTab" bs-tabs>-->
    <div ng-repeat="tab in tabs" title="{{ tab.title }}" ng-include="tab.template" bs-pane></div>
</div>

