<div style="margin-top: 20px" ng-controller="FileUploadCtrl">
    <h4>Select a file to upload</h4>
    <form name="form" style="margin-top: 20px">
        <button class="btn btn-default" ngf-select ng-model="file" name="file" >Select</button>
        <div ng-show="file.name" style="margin-top: 20px">
            Name: {{file.name}} <br>
            Size: {{file.size}} bytes <br>
        </div>
        <p><button style="margin-top: 20px" ng-show="file.name" class="btn btn-default" type="submit" ng-click="submit()">Submit</button>
    </form>

    <uib-progressbar max="100" value="progress.value" type="success">{{progress.value}}%<i ng-show="progress.value==100"> (Processing) </i></uib-progressbar>
</div>
