<div ng-controller="FileListCtrl" style="margin-top: 20px">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Download</th>
                <th>File</th>
                <th>Date</th>
                <th>Tag</th>
            </tr>
        </thead>
        <tbody ng-repeat="file in files">
            <tr>
                <td><button class="btn btn-default" ng-click="download(file._id)">Download</button></td>
                <td>{{file.name}}</td>
                <td>{{file.date}}</td>
                <td>{{file.tags}}</td>
            </tr>
        </tbody>
    </table>
</div>
