<div class="row">
    <!-- intro -->
    <div class="col-md-6">
        <h1>Where to save files</h1>
        <small>Here it is! File saving could be so elegant!</small>
    </div>

    <!-- login/register -->
    <div class="col-md-4">
        <div class="form-group">
            <label for="usr">Email:</label>
            <input type="text" class="form-control" id="usr" ng-model="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" ng-model="password">
        </div>
        <div class="row">
            <div class="col-md-1">
                <input type="button" class="btn btn-default" value="LOGIN" ng-click="login()">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-1">
                <input type="button" class="btn btn-default" value="REGISTER" ng-click="register()">
            </div>
        </div>
    </div>
</div>
