<html ng-app="onlinefsApp">
    <head>
        <title>Online File Storage</title>
        <link href="bower_components/bootstrap-css/css/bootstrap.min.css" rel="stylesheet">
        <link href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
        <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/ngstorage/ngStorage.min.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controller/authentication.js"></script>
        <script src="js/controller/filebrowserController.js"></script>
        <script src="js/controller/filebrowserTabController.js"></script>
    </head>

    <body>
        <!-- navigation bar -->
        <nav class="navbar navbar-default" role="navigation" bs-navbar>
            <div class="navbar-header">
                <a class="navbar-brand">OnlineFs</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right" ng-controller="AuthCtrl">
                    <li ng-show="isLogin()"><a>Hi, {{getEmail()}}</a></li>
                    <li ng-show="isLogin()">
                        <a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- real content -->
        <div class="container-fluid" ng-view></div>
    </body>
</html>
